Source: openmediavault-safecmd
Section: net
XB-Plugin-Section: utilities
Priority: optional
Maintainer: OpenMediaVault Plugin Developers <plugins@omv-extras.org>
Build-Depends: debhelper-compat (= 14), dh-sequence-single-binary
Standards-Version: 4.7.2
Homepage: http://omv-extras.org/

Package: openmediavault-safecmd
Architecture: all
Depends: openmediavault (>= 7)
Description: Safe command plugin for OpenMediaVault.
 Create commands in the admin interface that can be safely
 executed by users in the user interface.
